<!--     <section class="logo">
<img src="/assets/logo_me.png">
    </section> -->
    <section class="main">
    <h1>Gabe Morales</h1>
    <img src="/assets/me.png" alt="Gabe Morales" />
    <p>Hi, I'm Gabe. I am a iOS Developer, Rails apprentince, and taco connoisseur. I live in Texas with my wife and daughter.
    </p>
    <p>
    Currently, I work <b>@BneiBaruch</b> as lead iOS Developer and part-time freelancer. Check out some of my <a href="/work">projects</a>.
    </p>
    <p>
    I have a bachelors in computer science but graduated in 2004, that's before mobile or even dynamic websites. In 2010, I decided to learn iOS. I quit my not so great insurance job after 8 years. I can't describe it but it was the first time I smiled in a very long time. In early 2011, I finally landed my first iOS position and haven't looked back.
    </p>
    <p>&nbsp;</p>
    </section>

    <section class="about">
    <a href="mailto:gabomorales@me.com?subject=I want to hire you" class="btn">Hire me</a>
            <a href="/resume|cv/" class="btn">Resume</a>
            <p>&nbsp;</p>
            <a href="http://twitter.com/gabemdev" class="btn">@gabemdev</a>

    </section>
