    <section class="logo">
    <img src="http://m.kab.tv/ios/gabemdev/assets/logo_me.png">
    </section>
    <section class="main">
    <img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-694533295047/assets/marketing/images/me.png" alt="Gabe Morales" />
    <p>Hi, I'm Gabe. I'm a software developer in Austin, Texas. I build things at work and at home. I have a <a href="/blog">blog</a> but hardly write on it.
    </p>

    <p>
    I've been making apps since 2011. While some of the apps I worked on were internal projects, a handful of them made it to the App Store.
    </p>
    <p><br>
    Currently, I work <b>@Phunware</b> as Software Engineer - iOS and I also freelance part-time. I spend most of my day writing code and working on a wide variety of products.
    </p>

    <p>
    Check out some of my <a href="/work">projects</a> or find out more <a href="/about">about</a> me.
    </p>
    </section>

    <section class="about">
    <a href="mailto:gabomorales@me.com?subject=I want to hire you" class="btn">Hire me</a>
            <a href="/resume|cv/" class="btn">Resume</a>
            <a href="http://twitter.com/gabemdev" class="btn">@gabemdev</a>

    </section>
